<!DOCTYPE html>
html(lang="en")
	head
		base(href=base_url)
		title TITLE

		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

		link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')

		link(href='img/favicon.ico', rel='shortcut icon')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js")
		style.
			* {
				box-sizing: border-box;
			}
			body {
				margin: 0;
				padding: 0;
			}
			form {
				overflow: hidden;
				margin-bottom: 20px;
			}
			#editor-wrapper {
				width: 50%;
				float: left;
			}
			#editor {
				width: 100%;
				min-height: 700px;
				height: 90%;
			}
			#result {
				width: 50%;
				float: left;
			}
			#source textarea{
				width: 100%;
				height: 300px;
			}

		script.
			var helperApp = {
				initialize: function(){
					helperApp.forms();
				    helperApp.editor = ace.edit("editor",'ace/mode/jade');
			    	helperApp.editor.setTheme("ace/theme/tomorrow")
			    	helperApp.editor.setDisplayIndentGuides(true);
			    	helperApp.editor.getSession().setMode("ace/mode/jade")
			    	helperApp.editor.getSession().setUseWrapMode(true);
			    	helperApp.editor.getSession().setUseSoftTabs(false);

					$('#source textarea').click(function(evt){
						$(this).select();
					});
				},
				forms: function(){
					$('form').submit(function(evt){
						evt.preventDefault();
						var el = $(this);
						var action = el.attr('action')
						var method = el.attr('method')

						$.ajax({
							url: action,
							type: method,
							data:{
								content:helperApp.editor.getSession().getValue()
							}
						}).success(function(data){
							$('#result').html(data)
							$('#source textarea').html(data)
						}).error(function(xhr){
							console.log(xhr.responseText)
						})
					})
				}
			}
			$(document).ready(function(){
				helperApp.initialize();
			})


		//
			if env == 'development'
				each src in sources.css
					link(rel="stylesheet", href=src)
				
				script(src="http://localhost:35729/livereload.js")

				each src in sources.js
					script(src=src)
			else
				link(rel="stylesheet", href="resources/styles.min.css")
				script(src="resources/bundle.min.js")
				//[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]
	body
		form(action="/" method="POST")
			div#editor-wrapper
				div#editor.
					+header

					+block-cols
						+col-50
							+block-image-card(
								u.lorem(5),
								"http://google.com",
								"http://placehold.it/300x100"
							).orange

						+col-50
							+block-image-card(
								u.lorem(5),
								"http://google.com",
								"http://placehold.it/300x100"
							)

					+block-cols
						+col-100
							+block-image-card(
								u.lorem(10),
								"http://google.com",
								"http://placehold.it/600x200"
							)=u.lorem(30)


					+block-cols
						+col-50
							+block-image-card(
								u.lorem(5),
								"http://google.com",
								"http://placehold.it/300x100"
							)=u.lorem(7)
						+col-50
							+block-image-card(
								u.lorem(5),
								"http://google.com",
								"http://placehold.it/300x100"
							).orange


					+footer
						p Lorem ipsum dolor sit amet
				button Procesar
			div#result

		div#source
			textarea