<!DOCTYPE html>
html(lang="en")
	head
		base(href=base_url)
		title TITLE

		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

		link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')

		link(href='img/favicon.ico', rel='shortcut icon')

		if env == 'development'
			each src in sources.css
				link(rel="stylesheet", href=src)
			
			script(src="http://localhost:35729/livereload.js")

			each src in sources.js
				script(src=src)
		else
			link(rel="stylesheet", href="resources/styles.min.css")
			script(src="resources/bundle.min.js")
			//[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]
	body
		h1 Hello.