+header
row
	columns(small="12",large="4")
		+block-image-card(
			u.lorem(5),
			"http://google.com",
			"http://placehold.it/200x140"
		).orange
	
	columns(small="12",large="8")
		+block-image-card(
			u.lorem(5),
			"http://google.com",
			"http://placehold.it/300x100"
		)
+footer
	p Lorem ipsum dolor sit amet


