container
	+header

	row
		columns(small="12")
			+block-image-card(
				u.lorem(5),
				"http://google.com",
				"http://placehold.it/580x200"
			)=u.lorem(10)

	row
		columns(small="12",large="4")
			+block-image-card(
				u.lorem(2),
				"http://google.com",
				"http://placehold.it/180x120"
			).orange=u.lorem(6)

		columns(small="12",large="8")
			+block-image-card(
				u.lorem(5),
				"http://google.com",
				"http://placehold.it/370x120"
			)=u.lorem(10)


	row.collapse
		columns(small="4")
			.inner Col 3

		columns(small="8")
			+block-article(
				u.lorem(5),
				"http://google.com",
				"http://placehold.it/75x75"
			)=u.lorem(15)

			+block-article(
				u.lorem(5),
				"http://google.com",
				"http://placehold.it/75x75"
			)=u.lorem(15)

			+block-article(
				u.lorem(5),
				"http://google.com",
				"http://placehold.it/75x75"
			)=u.lorem(15)

			+block-article(
				u.lorem(5),
				"http://google.com",
				"http://placehold.it/75x75"
			)=u.lorem(15)



	+footer.footer
		p Lorem ipsum dolor sit amet


