mixin base
	html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
	body
		block

mixin block-cols
	table.block-cols.block(cellspacing="0" cellpadding="0")
		tr
			block

mixin col-25
	td.col-25
		.content
			block

mixin col-50
	td.col-50
		.content
			block
mixin header
	table.header.block(cellspacing="0" cellpadding="0")
		tr: td: .content 
			p Header

mixin footer
	table.footer.block(cellspacing="0" cellpadding="0")
		tr: td: .content
			p Lorem ipsum dolor sit amet

mixin col-75
	td.col-75
		block

mixin block-image-card(title,url,img)
	div.image-card&attributes(attributes)
		img(src=img, alt=title)
		a(href=url)=title
		p 
			block
		div.image-card-footer
			a.more-link(href=url) Ver más